<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_WRITE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo_transparent"
        android:label="IdeaList"
        android:roundIcon="@drawable/ic_app_logo_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name="com.inventory.idealist.SetStoreTimeActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.CustomerStoreProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.inventory.idealist.ViewProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.ManageInventoryActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.QRCodeViewScannerActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.ViewProductActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.AddToCartActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.PointOfSaleActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.DeleteProductActivity"
            android:exported="false"
            android:parentActivityName="com.inventory.idealist.MainSOActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.ManageInventoryActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.QRCodeDeleteScannerActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.DeleteProductActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.UpdateProductActivity"
            android:exported="false"
            android:label="Update Product">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.ManageInventoryActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.QRCodeScannerActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UpdateProductActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.AddProductActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.ManageInventoryActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.QrGeneratorActivity"
            android:exported="false" />
        <activity
            android:name="com.inventory.idealist.SalesReportActivity"
            android:exported="false" />
        <activity
            android:name="com.inventory.idealist.PointOfSaleActivity"
            android:exported="false" />
        <activity
            android:name="com.inventory.idealist.QRCodePOSScannerActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.PointOfSaleActivity" />

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.ManageInventoryActivity"
            android:exported="false" />
        <activity
            android:name="com.inventory.idealist.DeleteSOProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.DeleteProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.ChangeSOPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.ChangePasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UpdateSOEmailActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UpdateEmailActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UpdateSOProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.MainSOActivity"
            android:exported="false" />
        <activity
            android:name="com.inventory.idealist.UpdateProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UploadSOProfilePicActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.StoreOwnerProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UploadProfilePicActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.UsersProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.UsersProfileActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.StoreOwnerProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.MainSOActivity" />
        </activity>
        <activity
            android:name="com.inventory.idealist.ForgotPasswordStoreOwner"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.LoginAsStoreOwner" />
        </activity>
        <activity
            android:name="com.inventory.idealist.RegisterStoreOwnerActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.LoginAsStoreOwner" />
        </activity>
        <activity
            android:name="com.inventory.idealist.LoginAsStoreOwner"
            android:exported="false">

            <!-- Desktop Landing Page -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.Login" />
        </activity>
        <activity
            android:name="com.inventory.idealist.ForgotPassword"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inventory.idealist.Login" />
        </activity>
        <activity
            android:name="com.inventory.idealist.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inventory.idealist.MainActivity"
            android:exported="false" />
    </application>

</manifest>